<div class="container" id="i18_link">
    <div class="feature-wrapper bg-primary pt-5 pb-5 mt-5 mt-lg-0">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-1 text-center mb-3 mb-md-0">
                <i class="fa fa-gamepad fa-2x"></i>
            </div>
            <div class="col-sm-12 col-md-3 text-center text-md-left text-uppercase mb-3 mb-md-0">
                <p>Play in an immersive environment with your friends.</p>
            </div>
            <div class="col-sm-12 col-md-1 text-center mb-3 mb-md-0">
                <i class="fa fa-sitemap fa-2x"></i>
            </div>
            <div class="col-sm-12 col-md-3 text-center text-md-left text-uppercase mb-3 mb-md-0">
                <p>Play offline or online with our state of the art net system.</p>
            </div>
            <div class="col-sm-12 col-md-1 text-center mb-3 mb-md-0">
                <i class="fa fa-line-chart fa-2x"></i>
            </div>
            <div class="col-sm-12 col-md-3 text-center text-md-left text-uppercase mb-3 mb-md-0">
                <p>Web-based player tracking system for keeping tally of your stats.</p>
            </div>
        </div>
    </div>
</div>
    
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 text-center m-t-lg m-b-lg">
            <p id="jalpc_site_pv"><strong>&copy; {{ 'now' | date: "%Y" }} {{ site.title }}</strong></p>
        </div>
    </div>
</div>
