<br>
<div class="container" id="i18_link">
        <div class="row m-b-lg">
        <div class="col-lg-12 text-center">
            <div class="navy-line"></div>
            <h1><span data-i18n="projects.my_projects">My Projects</span></h1>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-1 text-center mb-3 mb-md-0">
                <i class="fa icon-python fa-2x"></i>
            </div>
            <div class="col-sm-12 col-md-3 text-center text-md-left text-uppercase mb-3 mb-md-0">
                <div class="card" style="width: 18rem;">
                  <img class="card-img-top" src="https://raw.githubusercontent.com/yuanic/yuanic.github.io/master/static/assets/img/landing/beyond_designations_icon.png" alt="Card image cap">
                  <div class="card-body">
                    <h5 class="card-title">Beyond Designations</h5>
                    <p class="card-text">Do designations really matter? What do job descriptions tell us about the role?</p>
                    <a href="#" class="btn btn-primary">Read More</a>
                  </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-1 text-center mb-3 mb-md-0">
                <i class="fa fa-sitemap fa-2x"></i>
            </div>
            <div class="col-sm-12 col-md-3 text-center text-md-left text-uppercase mb-3 mb-md-0">
                <div class="card" style="width: 18rem;">
                  <img class="card-img-top" src="https://raw.githubusercontent.com/yuanic/yuanic.github.io/master/static/assets/img/landing/mgoals_icon.png" alt="Card image cap">
                  <div class="card-body">
                    <h5 class="card-title">End Poverty</h5>
                    <p class="card-text">189 UN member states have been working towards the 8 Millennium Development Goals. Was it a success?</p>
                    <a href="https://public.tableau.com/profile/yuani.chen2227#!/vizhome/MilleniumDevelopmentGoals_0/MDGMain" class="btn btn-primary">Explore Dashboard</a>
                  </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-1 text-center mb-3 mb-md-0">
                <i class="fa fa-line-chart fa-2x"></i>
            </div>
            <div class="col-sm-12 col-md-3 text-center text-md-left text-uppercase mb-3 mb-md-0">
                <div class="card" style="width: 18rem;">
                  <img class="card-img-top" src="..." alt="Card image cap">
                  <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                  </div>
                </div>
            </div>
        </div>
    </div>
</div>
    
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 text-center m-t-lg m-b-lg">
            <p id="jalpc_site_pv"><strong>&copy; {{ 'now' | date: "%Y" }} {{ site.title }}</strong></p>
        </div>
    </div>
</div>
